<div class="container-fuied">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white">
                <h2 class="margin-top- text-center">CONTACT US</h2>
            </div>     
            <div class="row">
                <div class="col-6">
                    <br>
                    <h6>bonbox@gmail.com</h6>
                    <h6>+374 12345678</h6>
                </div>
    
                <div class="col-6 second">
                    <form class="contact-form row">
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="First Name (required)">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="email" class="form-control" placeholder="Your E-Mail (required)">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <textarea class="form-control" rows="9" placeholder="Youre Message"></textarea>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <label></label>
                            <button type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="ion-android-arrow-forward"></i></button>
                        </div>
                    </form>
                </div>
    
            </div> 
            <div class="ro">
                <div class="col">
                    <img src="../../assets/img/Contact/facebook black.png" alt="" width="50px">
                    <img src="../../assets/img/Contact/insta black.png" alt="" width="50">
    
                </div>
            </div>
     
        </div>
        
    </div>
   
    <div class="container-fuied text-center ">
        <span class="text-muted text-center"> 
            <img src="../../assets/img/Contact/mini logo.png" width="30">
             ©2019 BOOB BOX. All Rights Reserved </span>
    </div>
</div>