<div class="main-about-us">
    <div class="about-uss">
        <div class="div-whith-opacity">
            <div class="class-img11">
                <div class="class-img22">
                    <h2 class="text-header text-center">ABOUT US</h2>
                    <div class="text-about">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nemo quam sint consequuntur maxime repellendus minima quia harum atque. Eligendi quo vel iste temporibus soluta recusandae expedita cupiditate. Quasi, voluptate?
                        Obcaecati natus earum, corrupti inventore libero accusamus necessitatibus perspiciatis quasi iusto possimus, quae dolores voluptatum quia tempora vero laborum hic maxime facere ut sunt consectetur suscipit quaerat. Maiores, quibusdam non?
                        Quasi tempore officia nesciunt unde quo itaque, dolor quod atque! Labore laborum voluptates, illum itaque eligendi amet consequatur adipisci? Unde numquam dolor laborum ut est nobis, similique impedit neque dolore?
                        Porro eveniet odit numquam molestias? Ullam quod officia officiis eaque veritatis, quae reprehenderit nostrum quasi facere hic consequatur adipisci odio quidem tempore laboriosam ex enim. Aliquid ex aut labore excepturi.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div> 


