<div class="section-div contact-us-main  pt-4 " id="contact">
  <div class="container-fuied contact-us">
    <div class="container">
      <div class="row pb-2 pt-2">
        <div class="col-12 text-white">
          <h2 class="margin-top- text-center">CONTACT US</h2>
        </div>
        <div class="row pb-3 pt-3 ">
          <div class="col-6 ">
            <div class="row p-2 pt-4">
              <div class="col">
                <h6> <i class="fa fa-envelope-square fa-2x"></i> boonbox17@gmail.com</h6>
              </div>
            </div>
            <div class="row p-2 ">
              <div class="col">
                <h6><i class="fa fa-phone-square fa-2x"></i>+374 44 870874</h6>
              </div>
            </div>
          </div>
          <div class="col-6">
            <form class="pr-2">
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="First Name (required)">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="email" class="form-control" placeholder="Your E-Mail (required)">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Subject">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <textarea class="form-control" rows="9" placeholder="Youre Message"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-4 col-md-offset-4 ml-auto">
                  <button type="submit" data-toggle="modal" data-target="#alertModal"
                    class="btn btn-light btn-contact btn-block btn-lg">SEND</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-2 pb-2">
          <div class="col ">
            <a href="https://www.facebook.com/boonbox.am/">
              <p class="m-2  d-inline">
                <img src="../../assets/img/Contact/facebook black.png" alt="facebook" width="50px">
              </p>
            </a>
            <a href="https://www.instagram.com/boon.box/">
              <p class="m-2  d-inline">
                <img src="../../assets/img/Contact/insta black.png" alt="insta" width="50">
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fuied footer footer-main bg-copyright py-4 text-white bg-dark foot text-center  pt-2 ">
      <div class="row">
        <div class="col">
          <img src="../../assets/img/Contact/mini logo.png" width="30" class="mr-2">
          <span class="text-center">
            ©2019 BOON BOX. All Rights Reserved </span>
        </div>
      </div>
    </div>
  </div>
</div>
