.contact-us-main {
    position: relative;
    background-color: #FBB911;
}

.foot {
    background: rgba(0, 0, 0, .5) !important;
    flex-shrink: none;
}

.btn-contact {
    font-size: 23px;
    font-weight: bold;
}
