<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <h2 class="text-center"> BOXES </h2>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="card-deck">
                    <div class="card">
                      <img class="card-img-top" src="../../assets/img/Boxes/1.png" alt="Card image cap">
                      
                      <div class="card-footer">
                        <small class="text-muted">For Newborn</small>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="../../assets/img/Boxes/2.png" alt="Card image cap">
                      
                      <div class="card-footer">
                        <small class="text-muted">Birthday</small>
                      </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/Boxes/3.png" alt="Card image cap">
                        
                        <div class="card-footer">
                          <small class="text-muted">Chrismas</small>
                        </div>
                      </div>
                    <div class="card">
                      <img class="card-img-top" src="../../assets/img/Boxes/4.png" alt="Card image cap">
                      
                      <div class="card-footer">
                        <small class="text-muted">For Him</small>
                      </div>
                    </div>
                  </div>
            </div>          
           
            <div class="carousel-caption d-none d-md-block ">
                
            </div>
            </div>
            <div class="carousel-item ">
                <div class="container">
                    <div class="card-deck">
                        <div class="card">
                          <img class="card-img-top" src="../../assets/img/Boxes/1.png" alt="Card image cap">
                          
                          <div class="card-footer">
                            <small class="text-muted">For Newborn</small>
                          </div>
                        </div>
                        <div class="card">
                          <img class="card-img-top" src="../../assets/img/Boxes/2.png" alt="Card image cap">
                          
                          <div class="card-footer">
                            <small class="text-muted">Birthday</small>
                          </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="../../assets/img/Boxes/3.png" alt="Card image cap">
                            
                            <div class="card-footer">
                              <small class="text-muted">Chrismas</small>
                            </div>
                          </div>
                        <div class="card">
                          <img class="card-img-top" src="../../assets/img/Boxes/4.png" alt="Card image cap">
                          
                          <div class="card-footer">
                            <small class="text-muted">For Him</small>
                          </div>
                        </div>
                      </div>
                </div>
                
                <div class="carousel-caption d-none d-md-block ">
                </div>
                </div>
                <div class="carousel-item ">
                    <div class="container">
                        <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="../../assets/img/Boxes/1.png" alt="Card image cap">
                              
                              <div class="card-footer">
                                <small class="text-muted">For Newborn</small>
                              </div>
                            </div>
                            <div class="card">
                              <img class="card-img-top" src="../../assets/img/Boxes/2.png" alt="Card image cap">
                              
                              <div class="card-footer">
                                <small class="text-muted">Birthday</small>
                              </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="../../assets/img/Boxes/3.png" alt="Card image cap">
                                
                                <div class="card-footer">
                                  <small class="text-muted">Chrismas</small>
                                </div>
                              </div>
                            <div class="card">
                              <img class="card-img-top" src="../../assets/img/Boxes/4.png" alt="Card image cap">
                              
                              <div class="card-footer">
                                <small class="text-muted">For Him</small>
                              </div>
                            </div>
                          </div>
                    </div>
                    
                    <div class="carousel-caption d-none d-md-block ">
                    </div>
                    </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>
