
<h2 class="text-center">BOUQUETS</h2>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="../../assets/img/Bouqets/47.png" class="d-block w-100" alt="...">
          <div class=" carousel-caption text-box text-center d-md-block">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vel, quasi sit, distinctio nemo saepe maiores nostrum corrupti quidem quod, earum officiis atque? Tempore doloremque recusandae officia! Ex, commodi laborum.In animi autem aliquid, doloribus saepe cum commodi aperiam nam tempora! Quam, doloremque nam suscipit aut eveniet esse praesentium iusto cupiditate perspiciatis adipisci. Enim dolore ad eius vel, cumque nesciunt!</p>
            <button class=" btn btn-light border">See More</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/Bouqets/47.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/Bouqets/47.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
<!-- 
  <div class="carousel-caption d-none d-md-block">
    <h1>Mountain</h1>
</div>
 -->
