<div class="section-div">
  <div class="text-header ">
    <h2 class="text-center txt">BOUQUETS</h2>
  </div>

  <div class="car-box mb-5">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="../../assets/img/Bouqets/47.png" class="d-block w-100" alt="...">
              <div class=" carousel-caption text-box text-center d-md-block p-5">

                <div class="card" style="width: 18rem;">
                
                  <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vel, quasi sit, distinctio nemo saepe maiores nostrum corrupti quidem quod, earum officiis atque? Deleniti vel, quasi sit, distinctio nemo </p>
                    <a href="#" class="btn btn-light border border-dark">See More</a>
                  </div>
                  <button class=" btn btn-light "></button>
                </div>
              
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/Bouqets/47.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/Bouqets/47.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    
  </div>
</div>

<!-- 
  <div class="carousel-caption d-none d-md-block">
    <h1>Mountain</h1>
</div>
 -->
