.carousel-caption {
    position: absolute;
    top: 20%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    color: black;
  }

 .home-slider {
    .text-slider{
        font-size: 70px;
        margin-top: auto;
    }
   
    
    color: #2C2924;
   }