.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  bottom: 40%;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  color: black;
}

.header-text {
  font-size: 80px;
  color: #2C2924;
}

@media all and (max-width: 700px) {
  .carousel-caption {
    bottom: 20%;
  }

  .header-text {
    font-size: 60px;
    margin-right: auto;
  }

  .home_logo {
    width: 65%;
    height: 65%;
  }
}
