<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top  mb-auto navbar-inv">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/img/Home/Logo white.png" alt="HomeLogo">
      </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="#home" class="nav-link text-white">HOME</a></li>
  
          <!-- <li class="nav-item"><a href="#boxes" class="nav-link">BOXES</a></li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle bg-transparent text-white" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              BOXES
            </a>
            <div class="dropdown-menu bg-transparent" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-white" href="#newborn">For Newborn</a>
              <a class="dropdown-item text-white" href="#birtday">Birtday</a>
              <a class="dropdown-item text-white" href="#chrismas">Chrismas</a>
              <a class="dropdown-item text-white" href="#for_him">For Him</a>
            </div>
          </li>
          <li class="nav-item"><a href="#bouqets" class="nav-link text-white">BOUQETS</a></li>
          <li class="nav-item"><a href="#craft_pack" class="nav-link text-white">CRAFT PACK</a></li>
          <li class="nav-item"><a href="#about_us" class="nav-link text-white">ABOUT US</a></li>
          <li class="nav-item"><a href="#order" class="nav-link text-white">ORDER</a></li>
          <li class="nav-item"><a href="#contact" class="nav-link text-white">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
