<div class="main-about-us text-center " id="about_us">
  <div class="row w-100 p-md-5 p-4 pl-5 justify-content-center align-items-center">
    <div class=" col img-bg p-md-5 p-4">
      <div class="rectangle border-right-dark ">
        <div class="row pb-md-5">
          <div class="col">
            <h2 class="text-header pb-3 ">ABOUT US</h2>
          </div>
        </div>
        <div class="about-text p-3 ">
          <div class="row p-3">
            <div class="col">
              <h6 class="text-info-about">Boon Box-ում Դուք կգտնեք ամենաօրիգինալ նվերները ցանկացած առիթի համար։</h6>
            </div>
          </div>
          <div class="row p-3">
            <div class="col">
              <h6 class="text-info-about">В Boon Box вы можете найти самые оригинальные подарки на все случаи жизни.
              </h6>
            </div>
          </div>
          <div class="row p-3">
            <div class="col">
              <h6 class="text-info-about">Here in Boon Box you can find truly unique gifts for all occasions.</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
