.main-about-us {
    background-image: url(../../../assets/img/About_us/backgroundAbout.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-text {
    
   
}

.rectangle {
    background-image: url(../../../assets/img/About_us/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid black;
   
}

.text-header{
     margin-bottom: 150px;

}

.img-bg {
    background: rgba(243,237,224, 0.5) !important ;
}






// .main-about-us {
//     background-image: url(../../../assets/img/About_us/backgroundAbout.png);
//     max-height: 100vh;
//     background-repeat: no-repeat;
//     background-size: cover;
//     padding: 2%;
// }

// .div-whith-opacity {
//     background: rgba(246,168,119, 0.5) !important ;
//     height: 90vh;
//     padding: 5%;
// }
// .text-main {
//     position: absolute;
// }

// .class-img22 {
    
//     background-image: url(../../../assets/img/About_us/Rectangle.png);
//     height: 75vh;
//     width: 200vh;
//     background-repeat:no-repeat;
//     background-size:contain;
//     background-position:center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // border-bottom: 1px solid black;
    // border-right: 1px solid black;


// .text-about {
//     position: absolute;
//     padding: 5%;
//     left: 15%;
//     right: 15%;
//     margin: 0 auto;
//     font-size: 18px;
//     font-weight: bold;
// }



