.main-about-us {
    background-image: url(../../../assets/img/About_us/backgroundAbout.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-text {
    
   
}

.rectangle {
    background-image: url(../../../assets/img/About_us/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid black;
   
}

.text-header{
    margin-top: -1rem !important;

}

.img-bg {
    background: rgba(243,237,224, 0.5) !important ;
}