
<div class="main-about-us text-center " id="about_us" > 
  <div class="row p-5 justify-content-center align-items-center">
    <div class=" col img-bg p-5 ">
      <div class="rectangle border-right-dark ">
        <div class="row pb-5">
          <div class="col">
            <h2 class="text-header pb-3 ">ABOUT US</h2>
          </div>
        </div>
        
        <div class="about-text p-3 ">
         <div class="row p-3">
           <div class="col">
             <h6>Boon Box-ում Դուք կգտնեք ամենաօրիգինալ նվերները ցանկացած առիթի համար։</h6>
           </div>
         </div>
         <div class="row p-3">
          <div class="col">
            <h6>В Boon Box вы можете найти самые оригинальные подарки на все случаи жизни.</h6>
          </div>
        </div>
        <div class="row p-3">
          <div class="col">
            <h6>Here in Boon Box you can find truly unique gifts for all occasions.</h6>
          </div>
        </div>
        </div>       
      </div>        
    </div>
  </div>
</div>


<!-- <div class="main-about-us" id="about_us">
  <div class="about-uss">
    <div class="div-whith-opacity">
      <div class="class-img11">
        <div class="class-img22">
          <h2 class="text-header text-main text-center">ABOUT US</h2>
          <div class="text-about">
            <h6>Boon Box-ում Դուք կգտնեք ամենաօրիգինալ նվերները ցանկացած առիթի համար։
              <br>


              В Boon Box вы можете найти самые оригинальные подарки на все случаи жизни.
              <br>
              Here in Boon Box you can find truly unique gifts for all occasions.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
