
<div class="main-about-us text-center ">
  <div class="row p-5 justify-content-center align-items-center">
    <div class=" col img-bg p-5 ">
      <div class="rectangle border-right-dark ">
        <h2 class="text-header ">ABOUT US</h2>
        <div class="about-text p-5 ">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ducimus inventore voluptas cum tenetur earum adipisci laudantium deserunt amet quo eveniet cumque, explicabo ipsa ab id officiis? Excepturi, consequuntur laudantium.
          Eveniet, odit impedit officia, nobis repudiandae numquam quod iusto magni quasi at iure repellendus sed animi rerum perspiciatis perferendis nam dolore esse? Aspernatur unde cupiditate aliquid fugit eos, velit quod.
          Omnis nihil eius commodi unde beatae temporibus veniam ullam officia laudantium! Ex molestias suscipit odio enim, nulla deserunt sint adipisci fuga saepe voluptatum perspiciatis quas nobis error. Distinctio, adipisci enim?</p>
        </div>       
      </div>        
    </div>
  </div>
</div>


<!-- <div class="main-about-us" id="about_us">
  <div class="about-uss">
    <div class="div-whith-opacity">
      <div class="class-img11">
        <div class="class-img22">
          <h2 class="text-header text-main text-center">ABOUT US</h2>
          <div class="text-about">
            <h6>Boon Box-ում Դուք կգտնեք ամենաօրիգինալ նվերները ցանկացած առիթի համար։
              <br>


              В Boon Box вы можете найти самые оригинальные подарки на все случаи жизни.
              <br>
              Here in Boon Box you can find truly unique gifts for all occasions.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
