
.mains{
    position: relative;
}

.left {
    background-image: url(../../assets/img/Craft_pack/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 100vh;
}

.right {
    position: absolute;
    width: 60%;
    left: 38%;
    right: 0%;
    top: 15%;
    bottom: 0%;
}


.back-op {

    background: rgba(246,168,119, 0.5) !important ;
}