<div class="container-flued justify-content-center w-100 ">

  <h2 class="text-center"> {{data.categoryName}} </h2>

  <div class="row w-100 align-items-center justify-content-center">
    <div class='list-group gallery'  *ngFor="let item of data.images">
      <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
        <a class="thumbnail fancybox img-flued " rel="ligthbox"  data-toggle="modal" data-target="#myModal">
          <img class="img-responsive img-content" src="{{ item }}"  alt="images" (click)="clickedImg = item">
        </a>
      </div>
    </div> 
  </div> 
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body ">
            <img class="img-responsive img-content img-modal" src="{{ clickedImg }}"  alt="images" />
          </div>
      </div>
    </div>
  </div>
  
</div>


