.carousel-caption {
    position: absolute;
    top: 20%;
    
}

.text-slider{
    font-size: 70px;
    color: #2C2924;
}




// .home-slider {
   
//     position: absolute;
//     justify-content: center;
//     align-items: center;
//     transform: translate(0, -100%);
//   }