.boxes-main {
    background: linear-gradient(to top,   #8ACAB5 45%, #fcfcfc 60%,);
}

.card-main {
    height: 30rem;
}

.img-main {
    border: 2px solid firebrick;
    height: 26rem;
}

.btn-main {
    padding-top: 0, !important;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
    bottom: -50px;
}






// .main-boxes {
//     position: relative;
//     height: 100vh;
// }

// .box {
//     height: 100vh;
//     background-color: #8ACAB5;
// }

// .up-side {
//     height: 60%;
//     background-color: white;
// }

// .down-side {
//     height: 40%;
// }

// .carousel-all{
//     padding-top: 15%;
// }