.boxes-main {
    background: linear-gradient(to bottom,  #fcfcfc 55%, #8ACAB5 45%, );
}

.card-main {
    height: 26rem;
}

.img-main {
    height: 26rem;
}

.btn-main {
    background: rgba(255,242,217, 0.9) !important;
    bottom: -10%;
    left: 0;
    right: 0;
    margin: auto;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
    bottom: -50px;
}

.left-btn {
    position: absolute;
    top: 50%;
    left: 7%;
    background: chartreuse;
}

.right-btn {
    position: absolute;
    top: 50%;    
    right: 7%;
    background: chartreuse;
}

.btn-main:hover {

    
    .btn-boxes {
        font-size: 18px;
    }
}