.craft-pack-main {
  background-image: url('../../../assets/img/Craft_pack/background.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 50rem;
  width: 100%;
}

.right {
  margin-top: 50px;
  margin-left: -12%;
}

.light-pink {
  background: rgba(246, 168, 119, 0.5) !important;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #2C2924;
}

.carousel-indicators {
  bottom: -50px;
}

@media all and (max-width: 700px) {
  .craft-pack-main {
    background-position: 100%;
    background-size: contain;
  }

  .right {
    margin-left: 0;
  }
}
