<div class="section-div bouquets-main " id="bouqets" data-interval="7000">
  <div class="text-header">
    <h2 class="text-center txt">BOUQUETS</h2>
  </div>

  <div class="car-box">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item  active">
          <img src="../../assets/img/Bouqets/47.png" class="d-block w-100" alt="...">
          <div class=" carousel-caption text-box text-center d-md-block p-5">
            <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos quia ad, soluta voluptatum iste atque!</h6>
              <button class="">See More</button>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/Bouqets/47.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/Bouqets/47.png" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>
