<div class="bouquets" id="bouqets">
  <h2 class="text-center p-3">BOUQUETS</h2>

  <div id="carouselExampleIndicators_bouquets" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators_bouquets" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators_bouquets" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators_bouquets" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active first-slyde ">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-8 col-sm-0">
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="carousel-caption text-box text-center  pt-3 pb-3 p-2">
                <div class="row">
                  <div class="col text-block text-box-bouquets align-self-start pt-3 pb-3 p-2">
                    <h6 class="p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis saepe doloribus
                      corporis! Fugiat rem alias tenetur expedita nisi laboriosam delectus nam! Soluta saepe ut, esse
                      magnam illum iusto est quo.</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col align-self-end pt-md-5 btn-div-main ">
                    <button class="btn border-dark btn-large btn-ik">See More</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item second-slyde">
        <div class="carousel-caption d-none d-md-block">
          <div class="row">

          </div>
        </div>
      </div>
      <div class="carousel-item third-slyde">
        <div class="carousel-caption d-none d-md-block">
          <div class="row">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
