/* You can add global styles to this file, and also import other style files */

body {
    @font-face {font-family: "Bodoni Bk BT"; src: url("../src/assets/fonts/tt0035m.ttf") format("truetype"); }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }